@tailwind base;

:root {
    --color-text: #333;
    --color-primary: #8c45f7;
    --color-primary--hover: #7d2df6;
}

/**
 * Overwrite
 */
body {
    @apply bg-white dark:bg-gray-800 text-gray-800 dark:text-white;
}

/**
 * Container
 */
.container-fluid {
    @apply mx-auto px-4;
}

/**
 * Page Header
 */
.page-header {
    @apply mb-3 py-2 border-b border-solid border-gray-300 dark:border-gray-500 sticky left-0 top-0 right-0 bg-white dark:bg-gray-800;
}

.page-header__text {
    @apply font-extrabold flex items-center;
}

.page-header__action {
    @apply flex items-center justify-between;
}

.page-header__icon {
    @apply mr-2 font-black;
}

/**
 * Button
 */
.btn {
    @apply text-base inline-flex items-center justify-center rounded bg-gray-600 hover:bg-gray-700 text-white py-1 px-3;
}

.btn__icon {
    @apply mr-1;
}

.btn__icon-only {
    @apply text-xs;
}

.btn.is-large {
    @apply text-lg font-bold py-2 px-4;
}

.btn.is-small {
    @apply text-sm py-1 px-2;
}

.btn.is-block {
    @apply flex w-full px-2;
}

.btn.is-stretched::after {
    content: '';

    @apply block absolute inset-0;
}

.btn.is-disabled {
    @apply pointer-events-none opacity-50;
}

.btn.is-primary {
    background: var(--color-primary);
}

.btn.is-primary:hover {
    background: var(--color-primary--hover);
}

.btn.is-danger {
    @apply bg-red-600 hover:bg-red-700 dark:bg-red-800 dark:hover:bg-red-900;
}

.btn-group {
    @apply flex;
}

.btn-group .btn {
    @apply rounded-none;
}

.btn-group .btn + .btn {
    margin-left: 1px;
}

.btn-group .btn:first-child {
    @apply rounded-tl;
    @apply rounded-bl;
}

.btn-group .btn:last-child {
    @apply rounded-tr;
    @apply rounded-br;
}
