{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2020,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-unused-variable": 0,
        "no-unused-vars": 0,
        "no-prototype-builtins": 0,
        "require-atomic-updates": 0,
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-unused-vars": [
            2,
            { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
        ]
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "linkComponents": [
            "Hyperlink",
            {"name": "Link", "linkAttribute": "to"}
        ]
    }
}
