.info {
    @apply fixed inset-0 flex items-center justify-center transition-all duration-500 bg-black bg-opacity-50 bg-black bg-opacity-50;
    opacity: 0;
}
.info.is-active {
    opacity: 1;
}
.info__inner {
    @apply bg-gray-800 p-4 rounded rounded transition-all duration-500;
    width: 36rem;
    transform: translateY(-10px);
}
.info.is-active .info__inner {
    transform: translateY(0px);
}
.info__figure {
    @apply m-0 mb-4;
}
.info__image {
    @apply w-full;
}
.info__name {
    @apply text-center font-extrabold text-6xl;
}
